<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Vajra Movement</h5>
          <p class="grey-text text-lighten-4">A place where Yogis from different levels can come and share their flows and recommnedations or thoughts on their favorite asanas.</br><br> Join the community!<br> </p>
        </div>
        <div class="row l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Asanas</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Benefits</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Flows</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Vajra Yoga, All rights reserved.
      <a class="grey-text text-lighten-4 right" href="#!">More Info</a>
      </div>
    </div>

</body>
</html>